{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Current Shopping Cart</h2>
<table class="table">
<thead>
<tr>
    <th>Movie</th>
    <th>Row #</th>
    <th>Col #</th>
    <th>Status</th>
    <th>Booking Time</th>
    <th>Book</th>
    <th>Cancel</th>
</tr>
</thead>
<tbody>
{% for ticket in tickets %}
    <tr>
        <td>{{ ticket.movie.name }}</td>
        <td>{{ ticket.row_num }} </td>
        <td>{{ ticket.col_num }} </td>
        <td>{% if ticket.status == 1 %}AVAILABLE{% elif ticket.status == 2 %}BLOCKED{% else %}BOOKED{% endif %}</td>
        <td>{{ ticket.created_at|timesince }} ago</td>
        <td>{% if ticket.status == 2 %}<a href="{% url 'modify_ticket' ticket.id 'book'%}">Book</a>{% else %} N/A{% endif %}</td>
        <td><a href="{% url 'modify_ticket' ticket.id 'cancel'%}">Cancel</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}